.verify {
    position: relative;
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

.verify__inner {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.verify__message {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
}

.verify__button {
    display: inline-block;
    margin: 75px 0;
    padding: 15px 30px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
}

.verify__form {
    text-align: center;
}

.verify__link {
    display: inline-block;
    color: #0073CC;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    text-decoration: none;
    outline: none;
}