.attendance {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.attendance__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendance__status {
    margin: 0;
    background-color: #C8C8C8;
    border-radius: 50px;
    color: #696969;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    width: 100px;
}

.attendance__date {
    margin: 20px 0;
    color: #000000;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.attendance__time {
    margin: 0;
    color: #000000;
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}

.attendance__form-flex {
    display: flex;
    justify-content: space-between;
}

.attendance__form-flex .attendance__form:first-of-type {
    margin-right: 75px;
}

.attendance__form {
    margin-top: 40px;
}

.attendance__button {
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    width: 220px;
    padding: 20px 0;
}

.attendance__button--break {
    background-color: #FFFFFF;
    color: #000000;
}

.attendance__message {
    margin: 90px 0 0;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 860px) {
    .attendance__status {
        min-height: 35px;
        line-height: 35px;
        width: 80px;
    }
    .attendance__form-flex .attendance__form:first-of-type {
        margin-right: 60px;
    }
    .attendance__button {
        width: 190px;
        padding: 15px 0;
    }
    .attendance__message {
        margin: 60px 0 0;
    }
}