html {
    font-size: 62.25%;
}

.header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
}

.header__heading {
    display: none;
}

.header__logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    display: inline-block;
    margin: auto 20px;
    width: 300px;
    height: 32px;
}

.header__nav {
    margin-right: 20px;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 2.4rem;
}

.header__nav-item a {
    display: inline-block;
    padding: 5px 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: inherit;
}

.header__nav-logout {
    display: inline-block;
    padding: 5px 15px;
    background: inherit;
    border: none;
    color: #FFFFFF;
    font-size: inherit;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content--after-login {
    height: calc(100vh - 80px);
    background-color: #F0EFF2;
    overflow: auto;
}

@media screen and (max-width: 860px) {
    html {
        font-size: 43.75%;  /* タブレットでのフォントサイズは通常の70%(10px -> 7px)に*/
    }
}