.tab {
    margin: 50px 0;
    padding: 15px 50px;
    border-bottom: solid 1px #000000;
}

.tab__link {
    display: inline-block;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}
.tab__link--active {
    font-weight: 700;
}
.tab__link:first-of-type {
    margin-right: 100px;
}

.modification-list__table {
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.modification-list__table-row {
    border-bottom: solid 2px #E1E1E1;
}
.modification-list__table-row:first-of-type {
    border-bottom: solid 3px #E1E1E1;
}
.modification-list__table-row:last-of-type {
    border-bottom: none;
}

.modification-list__table-header, .modification-list__table-cel {
    padding: 12px 0 12px 15px;
    color: #737373;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
}
.modification-list__table-header:first-child, .modification-list__table-header:last-child,
.modification-list__table-cel:first-child, .modification-list__table-cel:last-child {
    padding: 12px 15px;
    text-align: center;
}
.modification-list__table-cel:last-of-type a{
    color: #000000;
    text-decoration: none;
}